{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- <div class="education">
        <h2>Education</h2>
        <div class="education-card">
            <div class="edu-body">
                <div class="education-details">
                    {% load static %}
                    <img src="{% static 'images/ldrp.png' %}" alt="" class="edu-img">
                    <div>
                        <h5 class="card-title">LDRP Institute of Technology & Research, Gandhinagar</h5>
                        <h6 class="card-subtitle mb-2">Bachelor of Engineering, Information Technology</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Oct 2021 - Present</h6>
                        <p>&bull; CPI: 7.74</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<div class="container">
    <div class="tech-stack">
        <h2>Tech Stack</h2>
        <div class="skills row justify-content-center">
            {% for skill in skills %}
            <div class="text-center">
                <i class="{{ skill.icon_class }}"></i>
                <p>{{ skill.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="certificates">
        <h2>Certificates</h2>
        <div class="certificate-body row justify-content-center">
            {% for certificate in certificates %}
            <a href="{{ certificate.link }}" target="_blank" class="cert-link">
                <div class="certificate-details" title="Click to Verify">
                    {% load static %}
                    <img src="{{ certificate.image }}" alt="" class="certificate-img">
                    <div>
                        <h5 class="card-title">{{ certificate.title }}</h5>
                        <h6 class="card-subtitle mb-2">{{ certificate.organization }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ certificate.date }}</h6>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        
    </div>
</div>


{% endblock %}