{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="education">
        <h2>Education</h2>
        <!-- education card for engineering college-->
        <div class="education-card">
            <div class="edu-body">
                <div class="education-details">
                    {% load static %}
                    <img src="{% static 'images/ldrp.png' %}" alt="" class="edu-img">
                    <div>
                        <h5 class="card-title">LDRP Institute of Technology & Research, Gandhinagar</h5>
                        <h6 class="card-subtitle mb-2">Bachelor of Engineering, Information Technology</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Oct 2021 - Present</h6>
                        <p>&bull; CPI: 7.74</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="tech-stack">
        <h2>Tech Stack</h2>
        <div class="skills row justify-content-center">
            <div class="text-center">
                <i class="ci ci-c ci-5x"></i>
                <p>C</p>
            </div>
            <div class="text-center">
                <i class="ci ci-cplusplus ci-5x"></i>
                <p>C++</p>
            </div>
            <div class="text-center">
                <i class="ci ci-html5 ci-5x"></i>
                <p>HTML</p>
            </div>
            <div class="text-center">
                <i class="ci ci-css ci-5x"></i>
                <p>CSS</p>
            </div>
            <div class="text-center">
                <i class="ci ci-bootstrap ci-5x"></i>
                <p>Bootstrap</p>
            </div>
            <div class="text-center">
                <i class="ci ci-python ci-5x"></i>
                <p>Python</p>
            </div>
            <div class="text-center">
                <i class="ci ci-java ci-5x"></i>
                <p>Java</p>
            </div>
            <div class="text-center">
                <i class="ci ci-aws ci-5x"></i>
                <p>AWS</p>
            </div>
            <div class="text-center">
                <i class="ci ci-django ci-5x"></i>
                <p>Django</p>
            </div>
            <div class="text-center">
                <i class="ci ci-mysql ci-5x"></i>
                <p>SQL</p>
            </div>
            <div class="text-center">
                <i class="ci ci-git ci-5x"></i>
                <p>Git</p>
            </div>
            <div class="text-center">
                <i class="ci ci-vscode ci-5x"></i>
                <p>VS Code</p>
            </div>
            <div class="text-center">
                
                <p>GitHub</p>
            </div>
            <div class="text-center">
                <i class="ci ci-postgres ci-5x"></i>
                <p>Postgres</p>
            </div>
            <div class="text-center">
                <i class="ci ci-docker ci-5x"></i>
                <p>Docker</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}