{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="profile-card-container justify-content-end">
                <div class="profile-card">
                    <div class="profile-image">
                        {% load static %}
                        <img src="{% static 'My.jpg' %}" alt="Profile Picture" class="img-fluid">
                    </div>
                    <div class="profile-content">
                        <h2>Hardik Khandala</h2>
                        <h5>Python Developer</h5>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/hardik-khandala" target="_blank"><i class="ci ci-linkedin ci-xl"></i></a>
                            <a href="https://www.github.com/hardik-khandala" target="_blank"><i class="ci ci-github ci-xl ci-invert"></i></a>
                            <a href="https://www.twitter.com/hardik_khandala" target="_blank"><i class="ci ci-x ci-xl ci-invert"></i></a>
                            <a href="https://www.instagram.com/hardik.khandala22" target="_blank"><i class="ci ci-instagram ci-xl"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6 home-page">
            <h2>Hello, I'm Hardik Khandala!</h2>
            <p align="justify">I am a third-year IT engineering student at LDRP Institute of Technology & Research, Gandhinagar.</p>
            <p align="justify">Feel free to check out my projects on GitHub and connect with me on LinkedIn.</p>
            <a href="{% url 'about' %}" class="btn btn-primary">About</a>
            <a href="{% url 'workspace' %}" class="btn btn-primary">See Work</a>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
