{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="experience">
        <h2>Experience</h2>
        <div class="vertical-timeline">
            <div class="timeline-line"></div>
            {% for experience in experiences %}
            <div class="experience-card">
                <div class="timeline-circle"></div>
                <div class="card-body" style="padding-bottom: 8px;">
                    <div class="experience-details">
                        {% load static %}
                        <img src="{{ experience.image }}" alt="" class="exp-img">
                        <div>
                            <h5 class="card-title">{{ experience.role }}, {{ experience.company }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ experience.duration }}</h6>
                        </div>
                    </div>
                    {% for responsibility in experience.responsibilities %}
                    <p style="padding-left: 5px;">&bull; {{ responsibility }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="projects">
        <h2>Projects</h2>
        <div class="project">
            {% for project in projects %}
            <div class="project-card">
                {% load static %}
                <img src="{{ project.image }}" alt="img" class="pro-img">
                <div>
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                </div>
                <section>
                    <div class="tech-used" style="border-bottom:1px solid grey;">
                        {% for tech in project.technologies %}
                        <span>{{ tech }}</span>
                        {% endfor %}
                    </div>
                    <div class="github-btn">
                        <a href="{{ project.github_link }}" target="_blank" class="btn btn-secondary"><i
                                class="ci ci-github ci-invert"></i>View Code</a>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}