{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="experience">
        <h2>Experience</h2>
        <div class="vertical-timeline">
            <div class="timeline-line"></div>

            <!-- <div class="experience-card">
                <div class="timeline-circle"></div>
                <div class="card-body" style="padding-bottom: 8px;">
                    <div class="experience-details">
                        {% load static %}
                        <img src="{% static 'images/spark-foundation.png' %}" alt="" class="exp-img">
                        <div>
                            <h5 class="card-title">Web Development Intern, The Spark Foundation</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Dec 2022 - Jan 2023</h6>
                        </div>
                    </div>
                    <p style="padding-left: 5px;">&bull; Created a donation portal for orphans and poor children using the Razor Pay API.</p>
                    <p style="padding-left: 5px;">&bull; Created To Do List and Calculator using HTML, CSS and JavaScript.</p>
                </div>
            </div> -->
            <div class="experience-card">
                <div class="timeline-circle"></div>
                <div class="card-body" style="padding-bottom: 8px;">
                    <div class="experience-details">
                        {% load static %}
                        <img src="{% static 'images/spark-foundation.png' %}" alt="" class="exp-img">
                        <div>
                            <h5 class="card-title">Web Development Intern, The Spark Foundation</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Dec 2022 - Jan 2023</h6>
                        </div>
                    </div>
                    <p style="padding-left: 5px;">&bull; Created a donation portal for orphans and poor children using
                        the Razor Pay API.</p>
                    <p style="padding-left: 5px;">&bull; Created To Do List and Calculator using HTML, CSS and
                        JavaScript.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="projects">
        <h2>Projects</h2>
        <div class="project">
            <div class="project-card">
                {% load static %}
                <img src="{% static 'images/attendece_system.jpg' %}" alt="img" class="pro-img">
                <div>
                    <h5 class="card-title">Attedence System</h5>
                    <p class="card-text">It's used to take attedence of Students using face Recognizations.</p>
                </div>
                <section>
                    <div class="tech-used" style="border-bottom:1px solid grey;">
                        <span>DJANGO</span>
                        <span>PYTHON</span>
                        <span>POSTGRES</span>
                    </div>
                    <div class="github-btn">
                        <a href="https://github.com/hardik-khandala/Attendance-System" target="_blank"
                            class="btn btn-secondary"><i class="ci ci-github ci-invert"></i>View Code</a>
                    </div>
                </section>
            </div>
            <div class="project-card">
                {% load static %}
                <img src="{% static 'images/hand_recog.jpg' %}" alt="img" class="pro-img">
                <div>
                    <h5 class="card-title">Hand Gesture Detection</h5>
                    <p class="card-text">It's used to detect hand gesture movement.</p>
                </div>
                <section>
                    <div class="tech-used" style="border-bottom:1px solid grey;">
                        <span>DJANGO</span>
                        <span>PYTHON</span>
                        <span>POSTGRES</span>
                    </div>
                    <div class="github-btn">
                        <a href="https://github.com/hardik-khandala/Attendance-System" target="_blank"
                            class="btn btn-secondary"><i class="ci ci-github ci-invert"></i>View Code</a>
                    </div>
                </section>
            </div>
            <div class="project-card">
                {% load static %}
                <img src="{% static 'images/portfolio.png' %}" alt="img" class="pro-img">
                <div>
                    <h5 class="card-title">Portfolio Django</h5>
                    <p class="card-text">Simple my portfolio website for my skills and experience.</p>
                </div>
                <section>
                    <div class="tech-used" style="border-bottom:1px solid grey;">
                        <span>DJANGO</span>
                        <span>PYTHON</span>
                        <span>POSTGRES</span>
                    </div>
                    <div class="github-btn">
                        <a href="https://github.com/hardik-khandala/Attendance-System" target="_blank"
                            class="btn btn-secondary"><i class="ci ci-github ci-invert"></i>View Code</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}